In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("DATA/babs_open_data_year_1/201402_babs_open_data/201402_status_data.csv")

In [4]:
df_station = pd.read_csv("DATA/babs_open_data_year_1/201402_babs_open_data/201402_station_data.csv")

In [5]:
df_station.head()

,station_id,name,lat,long,dockcount,landmark,installation
0,2,San Jose Diridon Caltrain Station,37.329732,-121.901782,27,San Jose,8/6/2013
1,3,San Jose Civic Center,37.330698,-121.888979,15,San Jose,8/5/2013
2,4,Santa Clara at Almaden,37.333988,-121.894902,11,San Jose,8/6/2013
3,5,Adobe on Almaden,37.331415,-121.893200,19,San Jose,8/5/2013
4,6,San Pedro Square,37.336721,-121.894074,15,San Jose,8/7/2013

In [10]:
df[:100000000]

          station_id  bikes_available  docks_available                 time
0                  2                2               25  2013/08/29 12:06:01
1                  2                2               25  2013/08/29 12:07:01
2                  2                2               25  2013/08/29 12:08:01
3                  2                2               25  2013/08/29 12:09:01
4                  2                2               25  2013/08/29 12:10:01
5                  2                2               25  2013/08/29 12:11:01
6                  2                2               25  2013/08/29 12:12:01
7                  2                2               25  2013/08/29 12:13:01
8                  2                2               25  2013/08/29 12:15:01
9                  2                2               25  2013/08/29 12:16:02
10                 2                2               25  2013/08/29 12:18:01
11                 2                2               25  2013/08/29 12:19:01
12                 2                2               25  2013/08/29 12:20:01
13                 2                2               25  2013/08/29 12:21:01
14                 2                2               25  2013/08/29 12:22:01
15                 2                2               25  2013/08/29 12:23:01
16                 2                2               25  2013/08/29 12:25:01
17                 2                2               25  2013/08/29 12:26:01
18                 2                2               25  2013/08/29 12:27:04
19                 2                2               25  2013/08/29 12:29:01
20                 2                2               25  2013/08/29 12:30:01
21                 2                2               25  2013/08/29 12:31:01
22                 2                2               25  2013/08/29 12:32:01
23                 2                2               25  2013/08/29 12:33:01
24                 2                2               25  2013/08/29 12:34:01
25                 2                2               25  2013/08/29 12:36:01
26                 2                2               25  2013/08/29 12:37:01
27                 2                2               25  2013/08/29 12:38:01
28                 2                2               25  2013/08/29 12:39:01
29                 2                2               25  2013/08/29 12:40:02
...              ...              ...              ...                  ...
16994572          83                8                7  2014/02/28 23:30:02
16994573          83                8                7  2014/02/28 23:31:02
16994574          83                8                7  2014/02/28 23:32:03
16994575          83                8                7  2014/02/28 23:33:02
16994576          83                8                7  2014/02/28 23:34:03
16994577          83                8                7  2014/02/28 23:35:02
16994578          83                8                7  2014/02/28 23:36:02
16994579          83                8                7  2014/02/28 23:37:02
16994580          83                8                7  2014/02/28 23:38:02
16994581          83                8                7  2014/02/28 23:39:03
16994582          83                8                7  2014/02/28 23:40:03
16994583          83                8                7  2014/02/28 23:41:02
16994584          83                8                7  2014/02/28 23:42:03
16994585          83                8                7  2014/02/28 23:43:03
16994586          83                8                7  2014/02/28 23:44:03
16994587          83                8                7  2014/02/28 23:45:03
16994588          83                8                7  2014/02/28 23:46:02
16994589          83                8                7  2014/02/28 23:47:01
16994590          83                8                7  2014/02/28 23:48:02
16994591          83                8                7  2014/02/28 23:49:02
16994592          83                8                7  2014/02/28 23:50:02
16994593          83                8                7  2014/02/28 23:51:03
16994594          83                8                7  2014/02/28 23:52:02
16994595          83                8                7  2014/02/28 23:53:02
16994596          83                8                7  2014/02/28 23:54:02
16994597          83                8                7  2014/02/28 23:55:02
16994598          83                8                7  2014/02/28 23:56:03
16994599          83                8                7  2014/02/28 23:57:03
16994600          83                8                7  2014/02/28 23:58:02
16994601          83                8                7  2014/02/28 23:59:03

[16994602 rows x 4 columns]